body {
  background-color: #d5e1ef;
  font-family: "Google Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#qr-code-img {
  height: 288px;
  width: 288px;
  border-radius: 15px;
}

.card {
  background-color: white;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 285px;
  border-radius: 15px;
  padding: 1em;
}

.card-text {
  text-align: center;
  padding: 0 0.5em;
}

.card-header {
  font-weight: bolder;
  font-size: 1.4em;
}

.card-text-body {
  color: #8e969f;
}

/* Grid CSS */
.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    list-style: none;
    padding: 0;
    justify-items: center;
    width: 100%;
    box-sizing: border-box;
}

.card-grid li:last-child {
    grid-column: 2;
}

@media (max-width: 1000px) {
    .card-grid {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 1,5rem;
    }
    .card-grid li:last-child {
        grid-column: auto;
    }
}

.card-grid .card {
    border: #8e969f solid .1rem;
}